@import '../../styles/variables';
.container_chart {
    display: flex;
    // gap:1rem;
    justify-content: space-around;
    padding: 2rem 0;
    max-width: 1000px;
    margin: 0 auto;
}
.chart_span {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.chart {
    width: 2rem;
    margin: 0;
    background-color: $Soft_red;
    border-radius: 5px;

}
.chart:hover {
    opacity: 0.5;
}
.pop_chart {
    position: relative;
}
.pop_chart:hover {
    .popin {
     visibility: visible;

    }
}
.activeOption {
    display: block;
  
}
.popin {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    background-color: $Dark_brown;
    color: $Very_pale_orange;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    // text-align: center;
    border-radius: 5px;
     padding: 1rem 0;
}

span {
    font-size: 0.7rem;
    display: block;
    font-weight: 400;
    color: $Medium_brown;
    text-align: center;
    margin-top: 0.4rem;

}
@media (min-width: 500px) {
    .chart {
        width: 3rem;
    }
}
@media (min-width: 830px) {
    .chart {
        width: 5rem;
    }
}
